@font-face {
  font-family: "PoiretOne";
  src: url(./fonts/PoiretOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  font-family: "PoiretOne", Arial, Helvetica, sans-serif;
  --green: #0e4539;
  --gold: #cfb53c;
  --darkgold: #8f7745;
  --altgold: #695c1d;
  --darkfield: #f3f0e3;
  --lightfield: #fefae7;
  --violet: rgb(48, 2, 62);
  --leftright: 5vw;
  --leftrightklein: 2vw;
  --topbottom: 2rem;
  --topbottombig: 7rem;
  --shadow-color: 50deg 29% 62%;
}
body {
  background-color: var(--darkfield);
  width: 100vw;
}
header {
  height: 8vh;
  display: flex;
  justify-content: space-around;
}
.naming,
.data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

img.logo {
  width: 6vh;
  height: auto;
}

.langnav {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
button.language {
  display: block;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

button.language:active {
  box-shadow: inset 0px 0px 4px var(--green);
}

.eng {
  background-image: url(./images/eng.png);
}

.deu {
  background-image: url(./images/deutsch.png);
}

.cro {
  background-image: url(./images/Croatia.png);
  margin-right: auto;
}

.data a,
.naming span {
  font-weight: bold;
  color: var(--green);
  text-decoration: none;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-evenly;
    gap: var(--leftright);
    margin-left: var(--leftright);
    margin-right: var(--leftright);
  }
  .naming span,
  .data a {
    font-size: 1.5rem;
  }

  .data {
    flex-direction: row;
    gap: var(--leftright);
    align-items: start;
  }

  img.logo {
    margin-right: auto;
  }
}

aside img.meer {
  width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: cover;
  margin-bottom: var(--topbottom);
}

main {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 200px);
  gap: calc(var(--leftright) / 2);
  grid-template-areas:
    "kalender status"
    "hause r2"
    "jakov r3"
    "ruza r4";
  color: var(--darkgold);
  font-weight: bold;
}

.container {
  background-color: var(--lightfield);
}

main * {
  border: 1px solid red;
}

.container.checkout {
  grid-area: kalender;
  padding: var(--leftrightklein);
  display: flex;
  flex-direction: column;
}
.guest {
  position: relative;
}
.guestwrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -30vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 0% 33%);
  transition: all.5s;
  background-color: aqua;
}

#gpanel:checked + .guestwrapper {
  background-color: aquamarine;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

label[for="gpanel"],
.guest span {
  font-size: 2rem;
  text-align: center;
  display: block;
  margin-bottom: calc(var(--topbottom) / 2);
}

label[for="aguest"],
label[for="chguest"] {
  font-size: 1.5rem;
}

input[type="number"] {
  width: 15px;
  height: 15px;
}

.inputwrapper {
  margin-bottom: var(--topbottom);
}

input[name="bigaguest"],
input[name="bigchguest"] {
  width: 30px;
  height: 30px;
  margin-bottom: var(--topbottom);
}
input[name="bigaguest"]::after,
input[name="bigchguest"]::after {
  content: "";
  background-color: rebeccapurple;
  background-size: cover;
  width: 30px;
  height: 30px;
}

/* ------------------------------------- */
.checkout .in {
  width: 33%;
}
.checkout .out {
  width: 33%;
}
.checkout .left {
  width: 50%;
}
.checkout .right {
  width: 50%;
}

.container.status {
  grid-area: status;
}

.container.haus {
  grid-area: hause;
}
.container.was1 {
  grid-area: r2;
  display: grid;
}
.container.jakov {
  grid-area: jakov;
}

.container.was2 {
  grid-area: r2;
}
.container.ruza {
  grid-area: ruza;
}

.container.was3 {
  grid-area: r3;
}
