input::placeholder {
  transition: 0.3s;
}

input:focus::placeholder,
input:valid::placeholder {
  transform: translateY(-25px);
  font-size: 1.3em;
}
textarea:focus::placeholder {
  transform: translateY(calc(10 * 1.4rem));
  font-size: 1.3em;
}

/* 1 */
/*bookbutton dialog bar */
.dialog {
  width: 80vw;
  aspect-ratio: 4/3;
  min-width: 250px;
  min-height: 190px;
  max-height: 70vh;
  background: var(--darkfield);

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
  z-index: 20;
  box-shadow: 5px 5px 10px 3px #031d17, 0 0 0 50vmax var(--greenshadow),
    inset 5px 5px 15px 0 rgba(66, 68, 17, 0.429);
}

@media (min-width: 768px) {
  .dialog {
    width: 60vw;
    box-shadow: 10px 10px 20px 7px #031d17, 0 0 0 50vmax var(--greenshadow),
      inset 10px 10px 30px 0 rgba(66, 68, 17, 0.429);
  }
}
@media (min-width: 1280px) {
  .dialog {
    width: 50vw;
  }
}

.dialogbar {
  background: var(--lightfield);
  border: 3px solid var(--gold);
  width: 90%;
  height: 90%;
  place-self: center;
  padding: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  text-align: end;
  gap: 10px;
  position: relative;
}

.dialogbar.back {
  position: absolute;
  width: 100%;
  height: fit-content;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: 1s;
}

.dialogbar .close {
  color: var(--darkgold);
  font-size: 1.5rem;
  position: absolute;
  right: 1vw;
  top: 1vw;
}
.dialogbar span {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 481px) {
  .dialogbar span {
    font-size: 1.7rem;
  }
}
@media (min-width: 768px) {
  .dialogbar span {
    font-size: 2rem;
  }
}
/* 2 */
.dialog-sharing .dialogbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2vw;
  justify-items: center;
  align-items: start;
}
.dialog-sharing .dialogbar span {
  grid-area: 1/1/2/4;
}

/* 3 */
/* right slide-bar */
.slide-bar-background {
  height: 60vh;
  width: 100vw;
  position: fixed;
  top: 15vh;
  right: -100vw;
  background: var(--darkfield);
  z-index: 4;
  transition: all 0.5s;

  color: var(--altkgold);
  font-size: 2em;
}

/* responsiv slide-bar */
@media (min-width: 481px) {
  .slide-bar-background {
    width: 45vw;
    top: 10vh;
    right: -45vw;
  }
}

.slide-bar-background .slide-bar {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--lightfield);
}

.slide-bar a,
.slide-bar a:visited {
  margin-left: var(--leftright);
  width: fit-content;
}

.slide-bar a:active {
  box-shadow: inset 0px 0px 5px var(--darkgold);
}

.slide-bar-background .fa-xmark {
  color: var(--darkgold);
  font-size: 2rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: 5;
}
/*--------------------------------------------------------- email */
.email form {
  width: 100%;
  height: fit-content;

  background-color: var(--darkgold);
  box-shadow: var(--imgshadow);

  color: var(--lightfield);
  font-family: "PoiretOne";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: start;
}

.email legend {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: var(--topbottom);
}
.email label {
  margin-left: 5%;
}

.email input,
.email textarea {
  width: 90%;
  display: block;
  margin: auto;
  border-bottom: 1px solid var(--lightfield);
  padding-top: 40px;
  padding-left: 10px;
}

.email textarea {
  padding: 5px;
}

.email textarea::placeholder {
  padding: 5px;
}

.email button,
.write-us-bar button {
  width: 32%;
  height: 3rem;
  background-color: var(--darkgold);
  border: 1px solid var(--lightfield);

  color: var(--lightfield);
  font-size: 2rem;
  letter-spacing: 3px;

  margin-left: 12%;
  margin-bottom: var(--topbottom);
  margin-top: var(--topbottom);
}

@media (min-width: 481px) {
  .email legend {
    font-size: 3rem;
  }

  .email .border button {
    width: 30%;
    height: 4rem;
  }
}
/* ----------------------down-drop formular---input group */
.signup .write-us-bar {
  position: absolute;
  width: 100%;
  background-color: var(--darkgold);
  color: var(--lightfield);
  padding: var(--leftright);
  padding-top: 0;

  clip-path: polygon(0% 0%, 100% 0%, 100%5rem, 0%5rem);
  transition: clip-path 1s;
}

.write-us-bar legend {
  height: 5rem;

  line-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 2rem;
}
.input-group {
  position: relative;
  margin-bottom: 2rem;
}
.input-group .false-placeholder {
  position: absolute;
  left: 1rem;
  transform: translateY(1rem);
  line-height: 3rem;
  background-color: var(--darkgold);
}
.input-group input {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  background: none;
  border: 1px solid var(--lightfield);
  outline: none;
  color: var(--lightfield);
  position: relative;
}

.input-group input:focus ~ .false-placeholder,
.input-group input:valid ~ .false-placeholder {
  transform: translateY(-1.5rem);
}
@media (min-width: 480px) {
  .signup .write-us-bar {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  .signup .write-us-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 6rem 7rem;
    gap: 1rem;
  }
  .write-us-bar legend {
    grid-area: 1/1/2/6;
  }
  .write-us-bar button {
    width: 100%;
    height: 5rem;
    margin: 0;
  }
}

/* ------------------------------------formular seite */

form.p-f {
  width: 90%;
  height: fit-content;
  margin-top: 4vh;
  margin: auto;
  margin-bottom: var(--topbottom);

  background-color: var(--darkgold);
  padding: var(--leftrightklein);

  font-size: 1.5rem;
  font-weight: bold;
  color: var(--lightfield);

  box-shadow: var(--boxshadow);
}

.p-f legend {
  letter-spacing: 1px;
  margin-bottom: 0.7em;
}

.p-f input {
  width: 100%;
  border-bottom: 1px solid var(--lightfield);
  height: 4em;
  padding: 1em;
  padding-bottom: 0;
  text-transform: capitalize;
}

.pay-card-bild i {
  font-size: 40px;
  color: var(--darkgold);
}

.pay-card-bild {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: var(--topbottom);
}

.p-f-button {
  width: 10rem;
  height: 3rem;
  border: 2px solid var(--darkgold);
  background-color: var(--lightfield);
  margin-top: var(--topbottom);
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--darkgold);
}
.p-f-button[type="submit"] {
  display: block;
  margin: auto;
}
