@font-face {
  font-family: "PoiretOne";
  src: url(./fonts/PoiretOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --green: #0e4539;
  --gold: #cfb53c;
  --darkgold: #695c1d;
  --darkfield: #f3f0e3;
  --lightfield: #fefae7;
  --violet: rgb(48, 2, 62);
  --leftright: 5vw;
  --leftrightklein: 2vw;
  --topbottom: 2rem;
  --topbottombig: 7rem;
  --offset: -65%;
  font-family: "PoiretOne", Arial, Helvetica, sans-serif;
}

/* button booknow */
.booknow {
  border: none;
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  background-color: var(--gold);
  color: var(--green);
  justify-self: end;
}

.booknow:hover {
  cursor: pointer;
}

.booknow:active {
  box-shadow: inset 0px 0px 3px var(--darkgold);
}

@media (min-width: 481px) {
  .booknow {
    width: 9rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .booknow:active {
    box-shadow: inset 0px 0px 5px var(--darkgold);
  }
}
/* ---------------- */
.line {
  height: 2px;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(
    to left,
    var(--gold),
    var(--darkgold),
    var(--gold)
  );
  margin-top: var(--topbottom);
  margin-bottom: var(--topbottom);
}
/* ----------------- */
body {
  margin: auto;
  background-color: var(--green);
  width: 100vw;
}

header {
  background-color: var(--green);
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--topbottom) var(--leftright);
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 2rem 1rem repeat(2, 2rem) 1rem;
  grid-template-areas:
    "house house house language"
    ". gerb . ."
    "casa gerb . ."
    "nostra gerb . bookbutton"
    "linie linie linie linie";
}

header span {
  color: var(--gold);
}

header > img {
  grid-area: gerb;
  height: 4rem;
  width: 4rem;
  align-self: end;
}

header span:nth-child(1) {
  grid-area: house;
  font-size: 1.5rem;
  line-height: 1em;
}

.casanostra {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
}

header span:nth-child(2) {
  grid-area: casa;
}
header .line {
  grid-area: linie;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  align-self: self-end;
}

@media (min-width: 481px) {
  header {
    grid-template-columns: 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 3rem 1rem repeat(2, 3rem) 2rem;
    grid-template-areas:
      "house house house language"
      ". gerb . ."
      "casa gerb . ."
      "nostra gerb . bookbutton"
      "linie linie linie linie";
  }

  header > img {
    height: 6rem;
    width: 6rem;
  }

  .casanostra {
    font-size: 3rem;
  }

  header span:nth-child(1) {
    font-size: 2.5rem;
  }
}

header span:nth-child(3) {
  grid-area: nostra;
}

header > .booknow {
  grid-area: bookbutton;
}

header nav {
  grid-area: language;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

button.language {
  display: none;
}

select.language {
  width: 3rem;
  height: 1rem;
  border: none;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  justify-self: center;
  /* background-image: url(./images/eng.png);
  background-position: center;
  background-size: cover; */
}

select.language:hover,
button.language:hover {
  cursor: pointer;
  transform: scale(1.3);
}

select.language:active,
button.language:active {
  box-shadow: inset 0px 0px 4px var(--green);
}

.hamburger .fa-bars {
  color: var(--gold);
  font-size: 1.5rem;
}

.hamburger label:hover .fa-bars,
.hamburger label:hover .fa-xmark {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 481px) {
  select.language {
    display: none;
  }

  button.language {
    display: block;
    width: 1rem;
    height: 1rem;
    border: none;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  button.language:active {
    box-shadow: inset 0px 0px 4px var(--green);
  }

  .eng {
    background-image: url(./images/eng.png);
  }

  .deu {
    background-image: url(./images/deutsch.png);
  }

  .cro {
    background-image: url(./images/Croatia.png);
    margin-right: auto;
  }

  .hamburger .fa-bars {
    font-size: 3rem;
  }
}

#menu {
  display: none;
}

.slide-panel {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -100vw;
  background: var(--darkfield);
  color: var(--darkgold);
}

.hamburger .fa-xmark {
  color: var(--darkgold);
  font-size: 2rem;
  position: absolute;
  right: 5px;
  top: 5px;
}

.slide-panel .booknow {
  position: absolute;
  top: 9rem;
  right: var(--leftright);
}

.slide-panel .hidenav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 15rem;
  left: var(--leftright);
  right: var(--leftright);
  height: 50vh;
  background-color: var(--lightfield);
}

.hidenav a,
.hidenav a:visited {
  text-decoration: none;
  color: var(--darkgold);
  font-size: 2rem;
  margin-left: var(--leftright);
  padding: 1rem;
  width: fit-content;
}

.hidenav a:active {
  box-shadow: inset 0px 0px 5px var(--darkgold);
  border-radius: 1rem;
}

#menu:checked + .slide-panel {
  right: 0;
}

#menu:checked + .slide-panel + .slide-button .fa-bars {
  display: none;
}

#menu:checked + .slide-panel > .booknow {
  animation: buttonexplosion 1s forwards;
}

@media (min-width: 481px) {
  .slide-panel {
    width: 45vw;
    top: 0;
    right: -45vw;
  }
}

@media (min-width: 769px) {
  header {
    grid-template-columns: repeat(2, 1fr) 9rem repeat(2, 1fr);
    grid-template-rows: repeat(3, 4rem) 2rem;
    grid-template-areas:
      ".  house house house language"
      ". . gerb . ."
      ". casa gerb nostra ."
      "linie linie linie linie linie";
  }

  header > img {
    height: 6rem;
    width: 6rem;
  }

  header > .booknow,
  header .hamburger {
    display: none;
  }

  header > img,
  header span:nth-child(1) {
    justify-self: center;
    font-size: 4rem;
  }
  header span:nth-child(1) {
    margin-left: 1em;
  }

  header span:nth-child(2),
  header nav {
    justify-self: end;
  }
}

@keyframes buttonexplosion {
  0% {
    transform: scale(0.01);

    box-shadow: 0px 0px 0px var(--darkgold);
  }

  50% {
    transform: scale(1.2) translateY(-20px);
    box-shadow: 0px 0px 10px 4px var(--darkgold);
  }

  65% {
    transform: scale(0.9);
    box-shadow: inset 0px 0px 0px 0px var(--darkgold);
  }

  70% {
    transform: scale(0.9);
    box-shadow: inset 0px 0px 5px var(--darkgold);
  }
  73% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1.1) translateY(-7px);
    box-shadow: 0px 0px 5px var(--darkgold);
  }

  100% {
    transform: scale(1) translateY(7px);
  }
}

main {
  margin-top: 8rem;
  margin-bottom: 8rem;
  width: 90%;
  margin: auto;
}

@media (min-width: 481px) {
  main {
    margin-top: 16rem;
  }
}

.shader {
  position: relative;
  overflow: hidden;
  width: 90vw;
  height: 30vh;
  margin: auto;
  z-index: -1;
  margin-bottom: var(--topbottom);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shader_layer {
  background-color: rgb(0, 0, 0);

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.specular {
  background-attachment: fixed;
  mix-blend-mode: color-dodge;
  background-image: linear-gradient(
    180deg,
    black 5%,
    #42b8eb 35%,
    #f3735c,
    #f58308 80%,
    black
  );
}

.mask {
  mix-blend-mode: multiply;
  background-image: url(./images/1677269655_bogatyr-club-p-boke-na-chernom-fone-foni-21.png);
  background-size: contain;
}

@media (min-width: 481px) {
  .shader {
    height: 73vh;
  }
}

.room {
  width: 100%;
}

.room img {
  margin-bottom: 0.5rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--topbottom);

  width: 100%;
  height: fit-content;
  padding: var(--leftright);

  background-color: var(--darkfield);
  color: var(--violet);
  font-size: 1.5rem;
}

.text p {
  text-align: justify;
}

.text h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.text button {
  border: none;
  width: fit-content;
}
.text button a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darkgold);
}
.text button:hover {
  cursor: pointer;
  scale: 1.1;
}

@media (min-width: 481px) {
  .line {
    height: 3px;
    margin-top: var(--topbottombig);
    margin-bottom: var(--topbottombig);
  }

  .room {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: repeat(5, 10vh) auto;
  }

  .room.hor img {
    width: 75vw;
    grid-area: 2/1/7/6;
  }

  .room.hor .text {
    font-size: 1.5rem;
    padding: var(--leftrightklein);
    grid-area: 1/3/4/7;
  }

  .room.vert img {
    width: 75vw;
    grid-area: 1/1/7/3;
  }

  .room.vert .text {
    font-size: 1.5rem;
    padding: var(--leftrightklein);
    grid-area: 2/3/4/7;
  }
}

@media (min-width: 1000px) {
  .room .text {
    font-size: 2rem;
  }
  .room.hor img {
    width: 60vw;
    grid-area: 2/2/8/6;
  }

  .room.vert img {
    width: 60vw;
    grid-area: 1/2/7/6;
  }

  .room.hor .text {
    max-width: 40vw;
    grid-area: 1/-1/3/-5;
    justify-self: end;
  }

  .room.vert .text {
    max-width: 40vw;
    grid-area: 2/-1/4/-5;
    justify-self: end;
  }
}

.offers.container {
  width: 70vw;
  height: auto;
  margin: auto;
  font-size: 1.5rem;
  background-color: var(--darkfield);
  color: var(--violet);

  padding: var(--leftright);
}
.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--lightfield);
  border: 1px solid var(--gold);
  display: grid;
  grid-template-columns: 4rem auto;
  gap: var(--topbottom);
  align-items: center;
  padding: var(--leftright);
}

h2.offers {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold);
  margin-bottom: var(--topbottom);
  text-align: center;
}

.offers .material-symbols-outlined {
  font-size: 3rem;
  font-variation-settings: "opsz" 30;
}
@media (min-width: 481px) {
  .offers.container {
    font-size: 2rem;
  }
  h2.offers {
    font-size: 2.5rem;
  }
}
@media (min-width: 769px) {
  .offers.container {
    padding: 40px;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    grid-template-columns: 4rem 1fr 4rem 1fr;
  }

  h2.offers {
    font-size: 3rem;
  }
}

/* ---------------------------------- */
.carousel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 40vh;
  margin-left: 0;

  border: 1px solid red;
  font-size: 1.5rem;
  color: var(--gold);
}
.car_img {
  width: 60%;
  height: 30vh;
  margin: auto;
}
.car_img:nth-child(2) {
  position: absolute;
  left: -45%;
  top: 0;
}
.car_img:nth-child(3) {
  position: absolute;
  left: 85%;
  top: 0;
}
.car_img:nth-child(4) {
  position: absolute;
  left: 150%;
  top: 0;
}

.radiobuttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#r3:checked + div.photo {
  animation: links_slide 1s forwards;
}

@keyframes links_slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-65%);
  }
}

/* -------------------------------- */
footer.navigation {
  display: none;
}

@media (min-width: 769px) {
  footer.navigation {
    position: fixed;
    width: 100vw;
    height: 8rem;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: var(--green);
  }

  footer.navigation a,
  footer.navigation a:visited {
    text-decoration: none;
    color: var(--gold);
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
  }

  footer.navigation a:active {
    box-shadow: inset 0px 0px 5px var(--gold);
    border-radius: 1rem;
  }

  /* footer.navigation button {
    justify-self: center;
  } */
}
