@import "style/variables";
@import "style/settings";
@import "style/mixins";


@import "style/buttons";
@import "style/bars-windows.scss";

html {
      font-size: 62.5%;
      font-family: "PoiretOne", Arial, Helvetica, sans-serif;
}

body {
      @include size(100vw, auto, $green);

      &.page-booking {
            background-color: $darkfield;
      }

      .shader img,
      .card-room img,
      .carousel img,
      .room img {
            @include size(100%, 100%, image);
            object-fit: cover;
            box-shadow: $imgshadow;
      }

      h2.caption {
            @include font(2rem, $gold, bold);
            margin-bottom: $topbottom;
            text-align: center;
      }

      @media (min-width: $tablet) {
            h2.caption {
                  font-size: 2.5rem;
            }
      }

      @media (min-width: $desktop) {
            h2.caption {
                  font-size: 3rem;
            }
      }
}

@import "style/header/header.scss";


@import "style/main/main";





/* ----------------------slider carousel----- */
aside.carousel {
      width: 100vw;
      font-size: 1.5rem;
      color: $darkgold;
      font-weight: bold;
      text-align: left;

      /* -------------radio-buttons for slide-control */
      .input {
            display: none;
      }

      /* ----------------------bounding box for photo-slides*/
      .overflow {
            width: 100%;
            overflow: hidden;
      }

      /* -------------------------unlimited slide box*/
      .photo-box {
            width: 400%;
            height: 40vh;
            transition: margin-left 1s linear;

            .slide {
                  width: 60vw;
                  height: 100%;
                  float: left;
                  background-color: $lightfield;
                  padding: 1rem;
                  margin: 0.2rem;

                  /* ----------------transition: scale, box-shadow*/
                  img {
                        height: 80%;
                        object-fit: cover;
                        object-position: bottom;
                        transition: all 0.5s;
                        transition-delay: 0.3s;

                        &:hover {
                              scale: 1.2;
                              box-shadow: $panelshadow;
                        }

                        &:active {
                              scale: 0.8;
                              border: 3px solid $gold;
                              box-shadow: $panelshadow;
                              cursor: wait;
                        }
                  }
            }
      }

      /* --------------------alle slides nach checked */
      $margins: 1 -40%, 2 -100%, 3 -160%, 4 -220%;

      @each $num, $margin in $margins {
            #slider#{$num}:checked~.overflow .photo-box {
                  margin-left: $margin;
            }
      }

      /* ----------------------------arrows left-right*/
      .controls-arrows {
            position: relative;
            margin: -20vh 0 0 0;
            width: 100%;
            height: 6rem;
            z-index: 0;

            label {
                  transition: opacity 0.25s;
                  width: 5rem;
                  height: 5rem;
                  opacity: 0.4;

                  &:hover {
                        opacity: 1;
                  }
            }
      }

      #slider1:checked~.controls-arrows label:nth-child(2),
      #slider2:checked~.controls-arrows label:nth-child(3),
      #slider3:checked~.controls-arrows label:nth-child(4),
      #slider4:checked~.controls-arrows label:nth-child(1) {
            background: url(./icons/chevron-right-solid.svg) no-repeat;
            background-size: contain;
            background-position: right;
            margin: 0 $leftrightklein 0 0;
            float: right;
            display: block;
      }

      #slider1:checked~.controls-arrows label:nth-last-child(1),
      #slider2:checked~.controls-arrows label:nth-last-child(4),
      #slider3:checked~.controls-arrows label:nth-last-child(3),
      #slider4:checked~.controls-arrows label:nth-last-child(2) {
            background: url(./icons/chevron-left-solid.svg) no-repeat;
            background-size: contain;
            float: left;
            margin: 0 0 0 $leftrightklein;
            display: block;
      }

      .bullets {
            margin: 17vh 0 0;
            text-align: center;

            label {
                  display: inline-block;
                  width: 1rem;
                  height: 1rem;
                  border-radius: 50%;
                  background: $darkgold;
                  margin: 0 10px;
            }
      }

      #slider1:checked~.bullets label:nth-child(1),
      #slider2:checked~.bullets label:nth-child(2),
      #slider3:checked~.bullets label:nth-child(3),
      #slider4:checked~.bullets label:nth-child(4) {
            background-color: $gold;
      }
}

/* -------------------------------------------------responsiv carousel */
@media (min-width: 481px) {
      .photo-box .slide p {
            font-size: 2rem;
            padding: 0 $leftright;
      }

      .bullets label {
            width: 1.2rem;
            height: 1.2rem;
      }
}

@media (min-width: 769px) {
      .photo-box .slide p {
            font-size: 2.3rem;
      }
}

@media (min-width: 1000px) {
      .photo-box {
            height: 50vh;
      }

      .photo-box .slide p {
            font-size: 2.3rem;
      }

      .photo-box .slide img {
            height: 90%;
            object-position: 100% 80%;
      }
}

aside.map {
      .map-background {
            width: 70%;
            aspect-ratio: 4 / 3;
            margin: auto;
            border: 2px solid $altgold;
            padding: $leftrightklein;
            margin-bottom: $topbottombig;
      }

      iframe {
            width: 100%;
            aspect-ratio: 4 / 3;
      }
}

/* --------------------------------footer information--- */
footer.information {
      width: 100vw;
      background-color: $green;

      .informat-wrapper {
            background-color: $darkfield;
            width: 100%;
            font-weight: bold;
            font-size: 1.7rem;

            .signup {
                  position: relative;
                  height: 5rem;
                  margin-bottom: 3rem;
                  transition: margin-bottom 1s;
                  // drop-down form
            }
      }
}

/* -----controller down-drop formular */
#down-arrow {
      display: none;
}

#down-arrow:checked+.signup>.write-us-bar {
      clip-path: polygon(0% 0%, 100% 0%, 100%35rem, 0%35rem);
}

#down-arrow:checked+.signup {
      margin-bottom: 33rem;
}

#down-arrow:checked+.signup>.write-us-bar>legend>.up-arrow {
      display: block;
}

#down-arrow:checked+.signup>.write-us-bar>legend>.down-arrow {
      display: none;
}

@media (min-width: 769px) {
      .informat-wrapper {
            margin-bottom: 8rem;
      }

      #down-arrow:checked+.signup>.write-us-bar {
            clip-path: polygon(0% 0%, 100% 0%, 100%15rem, 0%15rem);
      }

      #down-arrow:checked+.signup {
            margin-bottom: 12rem;
      }
}

/* ----------------contact us------ */
.info-bar,
.contact-us {
      @include flex-col(1rem, space-between);
      padding-bottom: $leftrightklein;
      color: $altgold;
}

.contact-us span,
.contact-us a {
      font-size: 1.5rem;
      text-transform: uppercase;
}

.naming span:nth-child(1) {
      font-size: 2.3rem;
}

.naming span:nth-child(2) {
      font-size: 2.5rem;
      font-weight: bold;
}

.naming img {
      width: 8rem;
      height: auto;
}

.adress a[href="#map"] {
      text-transform: initial;
      text-align: center;
      padding: $leftrightklein;
}

.adress label[for="bookbutton"] {
      margin-bottom: $topbottom;
}

.autors {
      height: 5rem;
      width: 100%;
      background-color: $darkgold;
      color: $lightfield;
      font-size: 1.5rem;
      @include flex-row(0, space-evenly);
}

.icons {
      margin-top: $topbottom;
      @include flex-row(1rem);
}

.icons i {
      color: $altgold;
      font-size: 2rem;
}

@media (min-width: 481px) {
      .linkswrapper {
            width: 70%;
            display: grid;
            grid-template-columns: auto fit-content auto;
            grid-template-rows: repeat(3, 1fr);
            grid-auto-flow: column;
            justify-items: start;
      }

      .contact-us span {
            font-size: 2rem;
      }
}

@media (min-width: 768px) {
      .info-bar {
            display: grid;
            grid-template-columns: max-content 2fr 1fr;
            padding-left: $leftrightklein;
            padding-right: $leftrightklein;
      }

      .contact-us.naming {
            @include flex-col(0, space-between);
      }

      .contact-us.naming img {
            width: 15rem;
            height: auto;
      }

      .contact-us.linkswrapper {
            width: 100%;
            height: 12rem;
      }

      .contact-us.adress {
            justify-content: space-between;

            span {
                  font-size: 2rem;
            }
      }
}

@media (min-width: 1200px) {
      footer.information .informat-wrapper {
            width: 70vw;
            margin: auto;
            margin-bottom: 8rem;
      }

      footer .signup {
            width: 70vw;
      }

      .contact-us.linkswrapper {
            width: 70%;
            margin: auto;
      }

      .autors {
            width: 70vw;
      }

      .page-booking .autors {
            width: 100vw;
      }
}

/* ----------------------------------------------footer navigation */
footer.navigation {
      display: none;
}

@media (min-width: 769px) {
      footer.navigation {
            @include position(fixed, 0, n, 0, 0);
            height: 8rem;

            @include flex-row(2vw);

            background-color: $green;
            color: $gold;
            font-size: 1.5rem;
            font-weight: bold;
      }

      footer.navigation a {
            letter-spacing: 3px;
            width: fit-content;
            padding: 10px;
      }

      footer.navigation a:active {
            box-shadow: inset 0px 0px 5px $gold;
            border-radius: 1rem;
      }
}

/* ----------------------------------------controller right slide-bar */
#control-slide-bar {
      display: none;
}

/* ----------------------------------------------------3) mod window*/
#control-slide-bar:checked+.slide-bar-background {
      right: 0;
      box-shadow: $panelshadow;
}

#control-slide-bar:checked+.slide-bar-background+.slide-button .fa-bars {
      display: none;
}

/* ***************************************************************** */
/* _______________________________________________controller booknow */
#book-button {
      display: none;
}

/* ---------------------------------------------------1) mod window*/

#book-button:checked+.dialog-booking {
      display: grid;
      box-shadow: $panelshadow;
}

/* ***************************************************************** */
/* ------------------------------------------controller share-button */
#share-button {
      display: none;
}

#share-button:checked+.dialog-sharing {
      display: grid;
}

/*--------------------------------------------------- 2) mod window*/
.dialog-sharing .fa-brands,
.dialog-sharing .fa-copy {
      font-size: 6vw;
      background-color: $lightfield;
}

.fa-twitter {
      color: $twitter;
}

.fa-telegram {
      color: $telegram;
}

.fa-facebook {
      color: $facebook;
}

.fa-at {
      color: $email;
}

.fa-whatsapp {
      color: $whatsapp;
}

.fa-viber {
      color: $viber;
}

/* ***********************************************controller link-copy */

#link-copy {
      width: 30px;
      opacity: 0;
}

.btn {
      background-color: $lightfield;
}

/* ***********************************************reverse-controller */
#email-button {
      display: none;
}

#email-button:checked~.dialog>.dialogbar.back {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

// --------------------------------------------booking page meer-image */
aside.p-b img {
      margin-top: 10rem;
      width: 100%;
      height: auto;
      max-height: 40vh;
      object-fit: cover;
      margin-bottom: $topbottom;
}

/*------------------------------------------ booking page main */




/* --

/* ----------------------------------------booking seite-container status */
.container.status {
      padding: $leftrightklein;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr repeat(3, 2fr);
      align-items: center;
      text-align: center;
}

.status span {
      font-size: 1.6rem;
}

.status h2 {
      @include grid-area-num(1, 2, 1, 3);
}

.status span:nth-child(2) {
      @include grid-area-num(2, 3, 1, 2);
}

.status span:nth-child(3) {
      @include grid-area-num(2, 3, 2, 3);
}

.status span:nth-child(4) {
      @include grid-area-num(3, 4, 1, 2);
}

.status span:nth-child(5) {
      @include grid-area-num(3, 4, 2, 3);
}

.status span:nth-child(6) {
      @include grid-area-num(4, 5, 1, 3);
}

.status span:nth-child(7) {
      @include grid-area-num(5, 6, 1, 2);
}

.status span:nth-child(8) {
      @include grid-area-num(5, 6, 2, 3);
      color: $lightfield;
      width: 13rem;
      height: 3rem;
      line-height: 3rem;
      background-color: $darkgold;
      justify-self: center;
}

/* ----------------------------------------------booking seite-room-card  */
.container.room {
      display: grid;
      grid-template-columns: 50% 1fr 1fr;
      grid-template-rows: repeat(6, auto);
      padding: $leftrightklein;
      column-gap: 2rem;
      row-gap: 1rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
}

.room picture {
      @include grid-area-num(1, 5, 1, 2);
}

.room h3 {
      @include grid-area-num(1, 2, 2, 5);
}

.room h2 {
      @include grid-area-num(2, 3, 2, 5);
}

.room p:nth-child(4) {
      @include grid-area-num(3, 4, 2, 5);
}

.room p:nth-child(5) {
      @include grid-area-num(5, 6, 3, 5);
      letter-spacing: 1px;
      justify-self: end;
      text-transform: none;
      letter-spacing: initial;
}

.room .bookbtn {
      @include grid-area-num(6, 7, 4, 5);
      justify-self: end;
}

/* -----------------------------------------------responsiv booking seite */
@media (min-width: 480px) {
      .container.room {
            font-size: 1.3rem;
      }
}

@media (min-width: 800px) {
      main.p-b {
            display: grid;
            grid-template-columns: 3fr 2fr;

            gap: $leftright / 3;
            grid-template-areas:
                  "checkout status"
                  "hause r1"
                  "jakov r2"
                  "ruza .";
            margin-bottom: $topbottombig;
      }



      // .guestwrapper {
      //       clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 20%);
      // }

      table.kalender {
            margin-top: 2rem;
            display: contents;
      }

      table.kalender,
      .kalender th,
      .kalender td {
            border: 1px solid $altgold;
      }

      .kalender th,
      .kalender td {
            width: 3rem;
            height: 3rem;
      }
}

/* ************************************************booking spring button */
.room picture:hover~.bookbtn {
      animation: buttonexplosion 1s forwards;
}

@keyframes buttonexplosion {
      0% {
            transform: scale(0.01);

            box-shadow: 0px 0px 0px $darkgold;
      }

      50% {
            transform: scale(1.2) translateY(-20px);
            box-shadow: 0px 0px 10px 4px $darkgold;
      }

      65% {
            transform: scale(0.9);
            box-shadow: inset 0px 0px 0px 0px $darkgold;
      }

      70% {
            transform: scale(0.9);
            box-shadow: inset 0px 0px 5px $darkgold;
      }

      73% {
            transform: scale(0.9);
      }

      90% {
            transform: scale(1.1) translateY(-7px);
            box-shadow: 0px 0px 5px $darkgold;
      }

      100% {
            transform: scale(1) translateY(7px);
      }
}

/* *************************************************booking animation* */
.animation {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
}

.himmel {
      @include position(absolute, 0, 0, 0, 0);
      background-image: linear-gradient(rgb(0, 213, 255), transparent);
}

.sun {
      @include position(absolute, 0, -50px, 0, -50px);
      background: radial-gradient(circle at 50% 0px,

                  rgba(255, 229, 38, 1) 3%,
                  rgba(255, 251, 173, 0.34077380952380953) 20%,
                  transparent);
}

.animation img {
      width: 20%;
      height: 30%;
      object-fit: contain;
}

.sunray {
      background: radial-gradient(circle at 50% 0px,

                  rgba(255, 229, 38, 1) 1%,
                  rgba(255, 251, 173, 0.34077380952380953) 50%,
                  transparent);
      animation: sunshine 5s infinite ease-in-out;
}

.wave {
      @include position(absolute, -50%, 80%, n, n);
      width: 200%;
      aspect-ratio: 1;
      border-radius: 40%;
      opacity: 0.9;
}

.wave:nth-child(4) {
      background-color: $telegram;
      z-index: 8;

      animation: rotate 10s infinite forwards;
}

.wave:nth-child(1) {
      background-color: $facebook;
      z-index: 5;

      animation: rotate 13s infinite;
      animation-delay: 3s;
}

.wave:nth-child(2) {
      background-color: #5b7dd9;
      z-index: 6;

      animation: rotate 11s infinite;
      animation-delay: 1s;
}

.wave:nth-child(5) {
      background-color: #5bccd9;
      z-index: 9;

      animation: rotate 12s infinite;
      animation-delay: 2s;
}

.wave:nth-child(3) {
      background-color: $twitter;
      z-index: 7;

      animation: rotate 9s infinite;
      animation-delay: 2s;
}

.wave:nth-child(6) {
      background-color: #5bccd9;
      z-index: 10;
      animation: rotate 9s infinite;
}

.wave:nth-child(7) {
      background-color: $telegram;
      z-index: 3;

      animation: rotate 10s infinite forwards;
}

.wave:nth-child(8) {
      background-color: $facebook;
      z-index: 2;

      animation: rotate 13s infinite;
      animation-delay: 3s;
}

@keyframes rotate {
      from {
            transform: rotate(0deg) translate(0, 0);
      }

      50% {
            transform: rotate(180deg) translate(10%, -10%);
      }

      100% {
            transform: rotate(1turn) translate(0, 0);
      }
}

@keyframes sunshine {
      from {
            transform: translate(0, -50px);
      }

      50% {
            transform: translate(0, -50px);
      }

      75% {
            transform: translate(0px, 50px);
            scale: 1.2;
      }

      100% {
            transform: translate(0, -50px);
      }
}

.ship-circle {
      width: 300px;
      height: 300px;
      @include position(absolute, n, 80%, n, n);
      z-index: 6;

      animation: ship-in-wave 15s ease-in-out infinite;
}

.ship-circle-1 {
      left: -25%;
}

.ship-circle-2 {
      left: 15%;
      transform: rotate(-180deg);

      animation-delay: 5s;
}

.ship-circle-3 {
      left: 50%;
      transform: rotate(-180deg);

      animation-delay: 10s;
}

.circle {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      @include position(absolute, 0, 0, n, n);
}

.ship {
      position: relative;
      width: 70px;
      height: 80px;
      left: 40%;
      top: -60px;
      opacity: 0.7;
}

.s {
      width: 60px;
      height: 60px;
      background-color: white;
      position: absolute;
}

.ls {
      clip-path: polygon(50% 0%, 0% 100%, 50% 100%);
      left: 0;
      top: 15px;
}

.rs {
      clip-path: polygon(51% 15%, 100% 100%, 50% 100%);
      left: 3px;
      top: 15px;
}

.fl {
      width: 30px;
      height: 15px;
      background-color: rgb(244, 143, 143);
      clip-path: polygon(0 0, 100% 0, 63% 47%, 100% 100%, 0 100%);
      @include position(absolute, 33px, 5px, n, n);
}

.g {
      width: 100px;
      height: 60px;

      background-color: rgb(93, 8, 8);
      clip-path: polygon(30% 62%, 63% 62%, 100% 34%, 75% 100%, 25% 100%, 1% 58%);
      @include position(absolute, -10px, 40px, n, n);
}

@keyframes ship-in-wave {
      0% {
            transform: rotate(-180deg);
      }

      100% {
            transform: rotate(90deg);
      }
}

/* *******************************Formular seite********************************** */
/* ******************************************************************************* */
.page-formular .container.animation {
      height: 9rem;
      background-color: $darkfield;
}

@media (min-width: 768px) {
      form.p-f {
            max-width: 50%;
      }

      .p-f-button {
            height: 4rem;
      }

      .page-formular .container.animation {
            height: 24rem;
      }
}

/* ********************************Gallery seite**********************************/
/* ****************************************************************************** */
.gallery h2.caption {
      color: $darkgold;
}

/* -------------------------------------------------gallery-text */
.text-green-field {
      display: block;

      width: 100%;
      max-width: 950px;

      background-color: $green;
      box-shadow: $boxshadow;

      color: $lightfield;
      font-family: "Arial";
      font-size: 1.4rem;
      line-height: 1.5;
      text-align: justify;

      padding: $topbottom;
      margin: auto;
      margin-bottom: $topbottom;
}

.text-green-field p {
      margin-bottom: 1rem;
}

/* --------------------------------------------------gallery--sleep */
.bed-wrapper {
      width: 100%;
      height: fit-content;
      @include flex-row(1rem, center, center, wrap);
      font-family: "Arial";
      font-size: 1.3rem;
      margin-bottom: $topbottom;
}

/* .bed-wrapper.ruza {
      grid-template-columns: repeat(2, 1fr);
    } */

.bed {
      border: 1px solid $gold;
      border-radius: 10px;
      padding: 0.5em;
      width: 20%;
      min-width: 100px;
      max-width: 150px;
}

.bed h3 {
      margin-bottom: 1em;
}

.bed .material-symbols-outlined {
      font-family: "Material Symbols Outlined";
      font-size: 2.5rem;
}

/* --------------------------------------------------gallery-offers */
.gallery-offers {
      width: 100%;
      max-width: 700px;
      margin: auto;

      background-color: $darkgold;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: fit-content fit-content;
      gap: 1rem;
      padding: 1rem;
      box-shadow: $boxshadow;
      margin-bottom: $topbottom;
}

.gallery-offers>div {
      background-color: $lightfield;
      padding: 1rem;
      box-shadow: $boxshadow;
}

.gallery-offers .left {
      @include grid-area-num(1, 2, 1, 2);
}

.gallery-offers .right {
      @include grid-area-num(1, 2, 2, 3);
}

.gallery-offers .down {
      @include grid-area-num(2, 3, 1, 3);
}

.left li,
.right li {
      padding-left: 2rem;
}

.left ul,
.right ul {
      margin-bottom: $topbottom;
}

/*-------------------------------------------------gallery-house rules */
.gallery-offers .checking {
      display: grid;
      grid-template-columns: 10rem auto;
      grid-template-rows: 1fr 2fr;
}

.gallery-offers .checking:nth-child(2) {
      gap: 0.7rem;
      margin-bottom: $topbottom;
}

.gallery-offers .checking h3 {
      @include grid-area-num(1, 2, 1, 2);
}

.gallery-offers .checking p:nth-child(2) {
      @include grid-area-num(1, 2, 2, 3);
      font-weight: bold;
}

.gallery-offers .checking p:nth-child(3) {
      @include grid-area-num(2, 3, 2, 3);
}

/* -------------------------------------------------photogallery */
.gallery .photos {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-auto-rows: auto;
      grid-auto-flow: row;
      gap: 1rem;
      margin-bottom: $topbottombig;
}

.gallery picture img {
      width: 100%;
      height: auto;
      box-shadow: $smallimgshadow;
}

.gallery .photos-house picture:nth-child(2) {
      @include grid-area-num(1, 3, 3, 4);
      align-self: end;
}

.gallery .photos-house picture:nth-child(3) {
      @include grid-area-num(2, 4, 1, 2);
}

.gallery .photos-house picture:nth-child(20) {
      @include grid-area-num(7, 9, 1, 2);
}

.gallery .photos-house picture:nth-child(30) {
      @include grid-area-num(11, 13, 3, 4);
}

.gallery .photos-jakov picture:nth-child(16) {
      @include grid-area-num(5, 7, 2, 3);
}

.gallery .photos-ruza picture:nth-child(8) {
      @include grid-area-num(3, 5, 2, 3);
}

.gallery .photos-house picture:nth-child(3) img,
.gallery .photos-house picture:nth-child(20) img,
.gallery .photos-house picture:nth-child(30) img,
.gallery .photos-jakov picture:nth-child(16) img,
.gallery .photos-ruza picture:nth-child(8) img {
      height: 100%;
}

/*-----------------------------------------------gallery-tabelle */

.gallery-tbl {
      width: 100%;
      max-width: 700px;
      margin: auto;
      text-align: center;
      box-shadow: $imgshadow;
      margin-bottom: $topbottom / 2;
}

.gallery thead {
      font-family: Arial, Helvetica, sans-serif;
}

.gallery-tbl td,
.gallery-tbl th {
      border: 2px solid $darkgold;
      padding: 0.7rem;
}

.gallery-tbl th {
      font-size: 1rem;
      color: $green;
}

.gallery-tbl td {
      font-size: 1.2rem;
      font-weight: bold;
      color: $darkfield;
      background-color: $darkgold;
}

.gallery .p-f-button {
      width: 12rem;
      display: block;
      margin: auto;
      background-color: $darkgold;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2rem;
      color: $lightfield;
      margin-bottom: $topbottombig;
}

/*-----------------------------------------------gallery--attraction */
.attraction {
      width: 80vw;
      max-width: 700px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-bottom: $topbottom;
      align-items: start;
}

.attraction i {
      margin-bottom: 1rem;
}

.attraction ul {
      display: grid;
      grid-template-columns: auto 5rem;
      gap: 1rem;
}

/* -------------------------------------------------gallery-contact */
.contact {
      width: 70vw;
      max-width: 500px;
      margin: auto;
      height: fit-content;
      border: 2px solid $darkgold;
      color: $green;
      box-shadow: $boxshadow;
      margin-bottom: $topbottom;
      text-align: center;
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: bold;
}

.contact address,
.contact p:nth-child(2) {
      margin-bottom: 1rem;
}

.inputcheck {
      width: 5px;
      height: 5px;
      background-color: $lightfield;
      border: 1px solid $darkgold;
}

/* ****************************************************anchors */
.anchor-margin {
      scroll-margin-top: 13rem;
}

/* --------------------gallery responsivitaet */
@media (min-width: 480px) {

      .gallery-offers,
      .gallery .attraction,
      .gallery-tbl th {
            font-size: 1.3em;
      }

      .gallery-tbl td {
            font-size: 1.5rem;
      }

      .anchor-margin {
            scroll-margin-top: 17rem;
      }
}

@media (min-width: 768px) {
      .anchor-margin {
            scroll-margin-top: 19rem;
      }

      .gallery-offers,
      .gallery .attraction,
      .gallery-tbl th {
            font-size: 1.5em;
      }
}