@font-face {
  font-family: "PoiretOne";
  src: url(./fonts/PoiretOne-Regular.ttf);
}
@font-face {
  font-family: "JosefinSans";
  src: url(./fonts/JosefinSans-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a,
a:hover,
a:active,
a:visited,
label {
  text-decoration: none;
}
input:active,
input:focus,
select:active,
select:focus {
  outline: none;
}
a:hover,
button:hover,
select:hover,
label:hover {
  cursor: pointer;
  scale: 1.1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.leer {
  border: 1px solid red;
  width: 100%;
  height: 8rem;
}

:root {
  font-size: 62.5%;
  font-family: "PoiretOne", Arial, Helvetica, sans-serif;
  /* --green: hsl(167, 66%, 16%); */
  --green: #092c24;

  --greenshadow: hsla(167, 71%, 12%, 0.887);

  --gold: #cfb53c;
  --darkgold: #8f7745;
  --altgold: #695c1d;
  --darkfield: #f3f0e3;
  --lightfield: #fefae7;
  --violet: rgb(48, 2, 62);
  --violetlight: #4b07e3;
  --leftright: 5vw;
  --leftrightklein: 2vw;
  --topbottom: 2rem;
  --topbottombig: 7rem;
  --twitter: #1da1f2;
  --telegram: #0088cc;
  --facebook: #1877f2;
  --whatsapp: #25d366;
  --viber: #59267c;
  --email: #ea4335;
}

/* ----------------- */

body {
  background-color: var(--green);
  width: 100vw;
}
body.page-booking {
  background-color: var(--darkfield);
}
/* ---------------------------------------------------header */
header {
  background-color: var(--green);
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--topbottom) var(--leftright);
  z-index: 1;
}

header.index {
  grid-template-columns: calc(17ch - 4rem) 4rem auto;
  grid-template-rows: 2rem 1.8rem repeat(2, 2rem) 1rem;
  grid-template-areas:
    "house house  lang-ham"
    ". gerb  ."
    "casa gerb  ."
    "nostra gerb  bookbutton"
    "linie linie linie";
}

header.p-b {
  height: 9rem;
  background-color: var(--darkfield);
  grid-template-columns: 1fr 6rem 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
  row-gap: 1rem;
}

/*--------------------------------- golden header line */
header .line {
  grid-area: linie;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  align-self: self-end;
}

/* --------------------------------header links naming */
header.index span {
  color: var(--gold);
  font-size: 1.7rem;
}

.index span.casanostra {
  font-weight: bold;
  letter-spacing: 3px;
}

header.index span:nth-child(1) {
  grid-area: house;
}

header.index span:nth-child(2) {
  grid-area: casa;
}

header.index span:nth-child(3) {
  grid-area: nostra;
}

/* -- */
.p-b-naming {
  grid-area: 1/1/4/2;
}
.p-b-data a,
.p-b-naming span {
  font-size: 1rem;
  font-weight: bold;
  color: var(--green);
  text-decoration: none;
}
header.p-b span {
  font-size: 1.3rem;
}
header.p-b span.casanostra {
  font-size: 1.7rem;
}

/* ---------------------------------header logo */
header > .logo {
  height: auto;
  width: 4rem;
  align-self: end;
}
header.index > .logo {
  grid-area: gerb;
}
header.p-b > .logo {
  grid-area: 1/2/4/3;
  align-self: center;
  margin-right: auto;
}

/*---------------------------------- responsiv links logo naming, logo */
@media (min-width: 481px) {
  header.index {
    grid-template-columns: 17ch 6rem 1fr 1fr;
    grid-template-rows: 3rem 2rem repeat(2, 3rem) 2rem;
    grid-template-areas:
      "house house house lang-ham"
      ". gerb . ."
      "casa gerb . ."
      "nostra gerb . bookbutton"
      "linie linie linie linie";
  }

  header > .logo {
    width: 6rem;
  }

  .index span.casanostra {
    font-size: 3rem;
  }
  header.index span:nth-child(1) {
    font-size: 2.5rem;
  }
  header.p-b {
    grid-template-columns: auto 6rem 1fr;
  }
  header.p-b span.casanostra {
    font-size: 2.5rem;
  }
  header.p-b span.house {
    font-size: 2rem;
  }
}

@media (min-width: 769px) {
  header.index {
    grid-template-columns: repeat(2, 1fr) 9rem repeat(2, 1fr);
    grid-template-rows: repeat(3, 4rem) 2rem;
    grid-template-areas:
      ".  house house house lang-ham"
      ". . gerb . ."
      ". casa gerb nostra ."
      "linie linie linie linie linie";
  }

  header.index > .logo {
    justify-self: center;
  }

  header.index span:nth-child(1) {
    font-size: 4rem;
    margin-left: 1em;
    justify-self: center;
  }

  header.index span:nth-child(2) {
    justify-self: end;
  }

  header.p-b .p-b-data {
    grid-area: 2/3/4/4;
    justify-self: end;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: 1rem;
  }

  header.p-b .p-b-data a {
    font-size: 1.5rem;
  }
}

header > .bookbtn {
  grid-area: bookbutton;
  place-self: end;
}

/* ---------------------------------nav = language + hamburger */
header nav {
  grid-area: lang-ham;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

select.language {
  width: 6rem;
  height: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--green);
  color: var(--gold);
}

button.language {
  display: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

select.language:hover,
button.language:hover {
  transform: scale(1.3);
}

select.language:active,
button.language:active {
  box-shadow: inset 0px 0px 4px var(--green);
}

.language.eng {
  background-image: url(./images/eng.png);
}

.language.deu {
  background-image: url(./images/deutsch.png);
}

.language.cro {
  background-image: url(./images/Croatia.png);
  margin-right: auto;
}

/* ----------------------------------------------header right */
.p-b-data {
  grid-area: 2/3/4/4;
  justify-self: end;
}

.p-b-naming,
.p-b-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.p-b-langnav {
  grid-area: 1/3/2/4;
  justify-self: end;
  display: flex;
  gap: 5px;
}

.p-b-langnav button.language {
  display: block;
  border: none;
}
/* -----------------------------------responsiv header nav */
@media (min-width: 481px) {
  header nav {
    gap: 1rem;
  }
  select.language {
    display: none;
  }

  button.language {
    display: block;
  }

  .hamburger .fa-bars {
    font-size: 3rem;
  }
}
@media (min-width: 769px) {
  header .bookbtn,
  header .ham-lines {
    display: none;
  }
  header nav {
    justify-self: end;
  }
}
@media (min-width: 1000px) {
  button.language {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/* ----------------------------------hamburger and close button */
.hamburger .fa-bars {
  color: var(--gold);
  font-size: 1.5rem;
}

label.ham-lines:hover .fa-bars,
label.close:hover .fa-xmark {
  cursor: pointer;
}
/* -------------------------------------responsiv hamburger */
@media (min-width: 481px) {
  .hamburger .fa-bars {
    font-size: 3rem;
  }
}

/* ----------------------- */
main {
  width: 90%;
  margin: auto;
}

main.index {
  margin-top: 13rem;
}
main.p-b {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--darkgold);
  font-weight: bold;
}

h2.caption {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold);
  margin-bottom: var(--topbottom);
  text-align: center;
}
.p-b h2.caption {
  color: var(--darkgold);
}
.shader img,
.card-room img,
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-------------------------- responsiv main */
@media (min-width: 481px) {
  main.index {
    margin-top: 18rem;
  }

  h2.caption {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  main.index {
    margin-top: 20rem;
  }
  h2.caption {
    font-size: 3rem;
  }
}

.slogan {
  text-align: center;
  background-image: url(./images/wave.jpg);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: var(--topbottom);
  background-position: bottom;
  animation: sloganmeer 60s infinite;
  animation-fill-mode: forwards;
}

.slogan span {
  display: block;
  font-family: "JosefinSans";
  font-size: 5vw;
  line-height: 1.7em;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

@keyframes sloganmeer {
  from {
    background-position: bottom;
    background-size: 100vw 100vh;
  }
  to {
    background-position: top;
    background-size: 100vw 100vh;
  }
}
/* responsiv slogan */
@media (min-width: 768px) {
  .slogan span {
    font-size: 6vw;
  }
}
@media (min-width: 1000px) {
  .slogan span {
    font-size: 6rem;
  }
}
/* ------first image with animation------- */
/* animation-wrapper */
.shader {
  position: relative;
  overflow: hidden;
  width: 90vw;
  height: 30vh;
  margin: auto;
  z-index: -1;
}
/* basic-img */

.shader_layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.gradient {
  background-attachment: fixed;
  mix-blend-mode: color-dodge;
  background-image: linear-gradient(
    180deg,
    black 5%,
    #42b8eb 35%,
    #f3735c,
    #f58308 80%,
    black
  );
  width: 100%;
  height: 100%;
}

.mask {
  mix-blend-mode: multiply;
  background-image: url(./images/1677269655_bogatyr-club-p-boke-na-chernom-fone-foni-21.png);
  background-size: contain;
}
/* responsiv first image */
@media (min-width: 481px) {
  .shader {
    height: 73vh;
  }
}
@media (min-width: 768px) {
  .shader {
    height: 90vh;
  }
}
/* apartament cards */
.card-room {
  width: 100%;
}

.card-room img {
  margin-bottom: 0.5rem;
}

.card-room-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--topbottom);

  width: 100%;
  height: fit-content;
  padding: var(--leftright);

  background-color: var(--darkfield);
  color: var(--violet);
  font-size: 1.5rem;
}

.card-room-text p {
  text-align: justify;
}

.card-room-text h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.card-room-text button {
  width: fit-content;
}

.card-room-text button a {
  text-transform: uppercase;
  color: var(--darkgold);
}
.card-room-btns {
  display: flex;
  gap: 2rem;
}
.fa-star:active {
  color: var(--gold);
}
/* responsiv apartment cards */
@media (min-width: 481px) {
  .card-room {
    display: grid;
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: repeat(5, 10vh) auto;
  }

  .card-room.horizontal img {
    width: 75vw;
    grid-area: 2/1/7/6;
  }

  .card-room.horizontal .card-room-text {
    font-size: 1.5rem;
    padding: var(--leftrightklein);
    grid-area: 1/3/4/7;
  }

  .card-room.vertical img {
    width: 75vw;
    grid-area: 1/1/7/3;
  }

  .card-room.vertical .card-room-text {
    font-size: 1.5rem;
    padding: var(--leftrightklein);
    grid-area: 2/3/4/7;
  }
}

@media (min-width: 1000px) {
  .card-room .card-room-text {
    font-size: 2rem;
  }
  .card-room.horizontal img {
    width: 60vw;
    grid-area: 2/2/8/6;
  }

  .card-room.vertical img {
    width: 60vw;
    grid-area: 1/2/7/6;
  }

  .card-room.horizontal .card-room-text {
    max-width: 40vw;
    grid-area: 1/-1/3/-5;
    justify-self: end;
  }

  .card-room.vertical .card-room-text {
    max-width: 40vw;
    grid-area: 2/-1/4/-5;
    justify-self: end;
  }
}
/* background for offers */
.offers {
  width: 70vw;
  height: auto;
  margin: auto;
  font-size: 1.5rem;
  background-color: var(--darkfield);
  color: var(--violet);
  padding: var(--leftright);
}

.offers-board {
  width: 100%;
  height: 100%;
  padding: var(--leftright);
  background-color: var(--lightfield);
  border: 1px solid var(--gold);

  display: grid;
  grid-template-columns: 4rem auto;
  gap: var(--topbottom);
  align-items: center;
}

.offers-board .material-symbols-outlined {
  font-size: 3rem;
  font-variation-settings: "opsz" 30;
}
/* responsiv offers-board */
@media (min-width: 481px) {
  .offers {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  .offers {
    padding: 40px;
  }
}
@media (min-width: 1000px) {
  .offers-board {
    grid-template-columns: 4rem 1fr 4rem 1fr;
  }
}

/* -----slider carousel---------------- */
.carousel {
  width: 100vw;
  font-size: 1.5rem;
  color: var(--darkgold);
  text-align: left;
}

/* radio-buttons for slide-control */
.carousel input {
  display: none;
}
/* bounding box for photo-slides*/
.overflow {
  width: 100%;
  overflow: hidden;
}
/* unlimited slide box*/
.photo-box {
  width: 400%;
  height: 40vh;
  transition: margin-left 1s linear;
}

.photo-box .slide {
  width: 60vw;
  height: 100%;
  float: left;
  background-color: var(--lightfield);
  padding: 0.2rem;
  padding-top: 2rem;
  margin: 0.2rem;
}
/* transition: scale, box-shadow*/
.photo-box .slide img {
  height: 80%;
  object-fit: cover;
  object-position: bottom;
  transition: all 0.5s;
  transition-delay: 0.3s;
}

.photo-box .slide img:hover {
  scale: 1.2;
  box-shadow: 0px 0px 0 80vw var(--greenshadow);
}

.photo-box .slide img:active {
  scale: 0.8;
  border: 3px solid var(--gold);
  box-shadow: 0px 0px 0 80vw var(--greenshadow);
}

/* alle slides nach checked */
#slider1:checked ~ .overflow .photo-box {
  margin-left: -40%;
}

#slider2:checked ~ .overflow .photo-box {
  margin-left: -100%;
}

#slider3:checked ~ .overflow .photo-box {
  margin-left: -160%;
}

#slider4:checked ~ .overflow .photo-box {
  margin-left: -220%;
}
/* arrows left-right*/
.controls-arrows {
  position: relative;
  margin: calc(-20vh - 3rem) 0 0 0;
  width: 100%;
  height: 6rem;
  z-index: 0;
}

.controls-arrows label {
  transition: opacity 0.25s;
  width: 5rem;
  height: 5rem;
  opacity: 0.4;
}

.controls-arrows label:hover {
  opacity: 1;
}

#slider1:checked ~ .controls-arrows label:nth-child(2),
#slider2:checked ~ .controls-arrows label:nth-child(3),
#slider3:checked ~ .controls-arrows label:nth-child(4),
#slider4:checked ~ .controls-arrows label:nth-child(1) {
  background: url(./icons/chevron-right-solid.svg) no-repeat;
  background-size: contain;
  background-position: right;
  margin: 0 var(--leftrightklein) 0 0;
  float: right;
  display: block;
}

#slider1:checked ~ .controls-arrows label:nth-last-child(1),
#slider2:checked ~ .controls-arrows label:nth-last-child(4),
#slider3:checked ~ .controls-arrows label:nth-last-child(3),
#slider4:checked ~ .controls-arrows label:nth-last-child(2) {
  background: url(./icons/chevron-left-solid.svg) no-repeat;
  background-size: contain;
  float: left;
  margin: 0 0 0 var(--leftrightklein);
  display: block;
}

.bullets {
  margin: 17vh 0 0;
  text-align: center;
}

.bullets label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--darkgold);
  margin: 0 10px;
}

#slider1:checked ~ .bullets label:nth-child(1),
#slider2:checked ~ .bullets label:nth-child(2),
#slider3:checked ~ .bullets label:nth-child(3),
#slider4:checked ~ .bullets label:nth-child(4) {
  background-color: var(--gold);
}
/* responsiv carousel */
@media (min-width: 481px) {
  .photo-box .slide p {
    font-size: 2rem;
    padding: 0 var(--leftright);
  }
  .bullets label {
    width: 1.2rem;
    height: 1.2rem;
  }
}
@media (min-width: 769px) {
  .photo-box .slide p {
    font-size: 2.3rem;
  }
}
@media (min-width: 1000px) {
  .photo-box {
    height: 50vh;
  }
  .photo-box .slide p {
    font-size: 2.3rem;
  }
  .photo-box .slide img {
    height: 90%;
    object-position: 100% 80%;
  }
}
/* -----------map---------- */

.map-background {
  width: 70%;
  aspect-ratio: 4 / 3;
  margin: auto;
  border: 2px solid var(--altgold);
  padding: var(--leftrightklein);
  margin-bottom: var(--topbottombig);
}

iframe {
  width: 100%;
  aspect-ratio: 4 / 3;
}

/* -------------------------------- */
footer.information {
  width: 100vw;
  background-color: var(--green);
}
.informat-wrapper {
  background-color: var(--darkfield);
  width: 100%;
  font-weight: bold;
  font-size: 1.7rem;
}

footer .signup {
  position: relative;
  height: 5rem;
  margin-bottom: 3rem;
  transition: margin-bottom 1s;
}

.signup .write-us-bar {
  position: absolute;
  width: 100%;
  background-color: var(--darkgold);
  color: var(--lightfield);
  padding: var(--leftright);
  padding-top: 0;

  clip-path: polygon(0% 0%, 100% 0%, 100%5rem, 0%5rem);
  transition: clip-path 1s;
}

.write-us-bar legend {
  height: 5rem;

  line-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 2rem;
}
/* controller down-drop formular */
#down-arrow {
  display: none;
}

.write-us-bar legend label.arrow {
  margin-left: var(--leftrightklein);
}
.write-us-bar label.up-arrow {
  display: none;
}
.write-us-bar label.down-arrow {
  display: block;
}

.input-group {
  position: relative;
  margin-bottom: 2rem;
}
.input-group .false-placeholder {
  position: absolute;
  left: 1rem;
  transform: translateY(1rem);
  line-height: 3rem;
  background-color: var(--darkgold);
}
.input-group input,
.write-us-bar button {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  background: none;
  border: 1px solid var(--lightfield);
  outline: none;
  color: var(--lightfield);
}

.input-group input:focus ~ .false-placeholder,
.input-group input:valid ~ .false-placeholder {
  transform: translateY(-1.5rem);
}

#down-arrow:checked + .signup > .write-us-bar {
  clip-path: polygon(0% 0%, 100% 0%, 100%35rem, 0%35rem);
}

#down-arrow:checked + .signup {
  margin-bottom: 33rem;
}
#down-arrow:checked + .signup > .write-us-bar > legend > .up-arrow {
  display: block;
}
#down-arrow:checked + .signup > .write-us-bar > legend > .down-arrow {
  display: none;
}
@media (min-width: 480px) {
  .signup .write-us-bar {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  .informat-wrapper {
    margin-bottom: 8rem;
    transition: 0.5s;
  }
  .signup .write-us-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6rem 7rem;
    gap: 1rem;
  }
  .write-us-bar legend {
    grid-area: 1/1/2/5;
  }

  #down-arrow:checked + .signup > .write-us-bar {
    clip-path: polygon(0% 0%, 100% 0%, 100%15rem, 0%15rem);
  }
  #down-arrow:checked + .signup {
    margin-bottom: 12rem;
  }
}

/* --contact us------ */
.info-bar,
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: var(--leftrightklein);
}

.contact-us span,
.contact-us a {
  color: var(--altgold);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.naming span:nth-child(1) {
  font-size: 2.3rem;
}

.naming span:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bold;
}

.naming img {
  width: 8rem;
  height: auto;
}

.adress a:nth-child(2) {
  text-transform: initial;
  text-align: center;
  padding: var(--leftrightklein);
}

.adress label[for="bookbutton"] {
  margin-bottom: var(--topbottom);
}

.autors {
  height: 5rem;
  width: 100%;
  background-color: var(--darkgold);
  color: var(--lightfield);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons {
  margin-top: var(--topbottom);
  display: flex;
  gap: 1rem;
}
.icons i {
  color: var(--altgold);
  font-size: 2rem;
  gap: 10px;
}

@media (min-width: 481px) {
  .linkswrapper {
    width: 70%;
    display: grid;
    grid-template-columns: auto fit-content auto;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    justify-items: start;
  }

  .contact-us span {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .info-bar {
    display: grid;
    grid-template-columns: max-content 2fr 1fr;
    padding-left: var(--leftrightklein);
    padding-right: var(--leftrightklein);
  }

  .contact-us.naming {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact-us.naming img {
    width: 15rem;
    height: auto;
  }

  .contact-us.linkswrapper {
    width: 100%;
    height: 12rem;
  }
  .contact-us.adress {
    justify-content: space-between;
  }
  .contact-us.adress span {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .informat-wrapper {
    width: 70vw;
    margin: auto;
  }
  footer .signup {
    width: 70vw;
  }
  .contact-us.linkswrapper {
    width: 70%;
    margin: auto;
  }
  .autors {
    width: 70vw;
  }
  .page-booking .autors {
    width: 100vw;
  }
}

footer.information:hover + footer.navigation {
  bottom: -8rem;
}

@media (min-width: 768px) {
  footer.information:hover .informat-wrapper {
    margin-bottom: 0;
  }
}

/* -------------------------------- */
footer.navigation {
  display: none;
}

@media (min-width: 769px) {
  footer.navigation {
    position: fixed;
    height: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: var(--green);
    transition: bottom 0.5s;
  }

  footer.navigation a {
    text-decoration: none;
    color: var(--gold);
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
  }

  footer.navigation a:active {
    box-shadow: inset 0px 0px 5px var(--gold);
    border-radius: 1rem;
  }
}
/* *************************************************** */
/* goldene linie */
.line {
  height: 2px;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(
    to left,
    var(--gold),
    var(--darkgold),
    var(--gold)
  );
  margin-top: var(--topbottom);
  margin-bottom: var(--topbottom);
}
@media (min-width: 481px) {
  .line {
    height: 3px;
    margin-top: var(--topbottombig);
    margin-bottom: var(--topbottombig);
  }
}
.thinline {
  height: 1px;
  min-height: 1px;
  width: 90%;
  background-color: var(--gold);
}
/* ************************************************* */
/* bookbutton */
.bookbtn {
  display: block;
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
  background-color: var(--gold);
  color: var(--green);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.bookbtn span {
  background: linear-gradient(to left, transparent, #efd045, transparent);
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  position: absolute;
  right: -4rem;
  top: 0;
  transition: 0.5s all;
}
.bookbtn a {
  color: var(--green);
  letter-spacing: 2px;
}
.bookbtn:hover span {
  right: 100%;
}
.bookbtn:focus {
  box-shadow: inset 0px 0px 3px var(--darkgold);
}
/* bookbutton responsiv */
@media (min-width: 481px) {
  .bookbtn {
    font-size: 1.3rem;
  }
  .bookbtn {
    box-shadow: inset 0px 0px 5px var(--darkgold);
  }
}
@media (min-width: 768px) {
  .bookbtn {
    font-size: 1.5rem;
    padding: 7px;
  }
}
/* *************************************************** */
/* right slide-bar */
#control-slide-bar {
  display: none;
}

/* 3 */

#control-slide-bar:checked + .slide-bar-background {
  right: 0;
  box-shadow: 0 0 0 50vmax var(--greenshadow);
}

#control-slide-bar:checked + .slide-bar-background + .slide-button .fa-bars {
  display: none;
}
/* *************************************************** */
/* controller booknow */
#book-button {
  display: none;
}

/* 1 */
.dialogbar span {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 481px) {
  .dialogbar span {
    font-size: 1.7rem;
  }
}
@media (min-width: 768px) {
  .dialogbar span {
    font-size: 2rem;
  }
}
#book-button:checked + .dialog-booking {
  display: grid;
}

/* ******************************************* */
/* controller share-button */
#share-button {
  display: none;
}
#share-button:checked + .dialog-sharing {
  display: grid;
}
/* 2 */
.dialog-sharing .fa-brands,
.dialog-sharing .fa-copy {
  font-size: 6vw;
  background-color: var(--lightfield);
}
.fa-twitter {
  color: var(--twitter);
}
.fa-telegram {
  color: var(--telegram);
}
.fa-facebook {
  color: var(--facebook);
}
.fa-at {
  color: var(--email);
}
.fa-whatsapp {
  color: var(--whatsapp);
}
.fa-viber {
  color: var(--viber);
}

/* controller link-copy */

#link-copy {
  width: 30px;
  opacity: 0;
}

.btn {
  background-color: var(--lightfield);
}

/* reverse-controller */
#reverse-button {
  display: none;
}

.dialogbar.back {
  position: absolute;
  width: 100%;
  height: fit-content;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: 1s;
}

#reverse-button:checked ~ .dialog > .dialogbar.back {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* email */

.email a,
.email a:active,
.email a:visited,
.email input::placeholder,
.email textarea::placeholder {
  color: var(--lightfield);
  font-family: "PoiretOne";
  font-weight: bold;
}

.email form {
  width: 100%;
  height: fit-content;
  text-align: start;
  background-color: var(--darkgold);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--lightfield);
}

.email legend {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: var(--topbottom);
}
.email label {
  margin-left: 5%;
}
.email input,
.email textarea {
  display: block;
  width: 90%;
  margin: auto;
  background: none;
  outline: none;
  border-bottom: 1px solid var(--lightfield);
  padding-top: 40px;
  padding-left: 10px;
}

.email textarea {
  padding: 5px;
}
.email input::placeholder {
  transition: 0.3s;
}
.email input:focus::placeholder,
.email input:valid::placeholder {
  transform: translateY(-30px);
  font-size: 2rem;
}
.email textarea::placeholder {
  padding: 5px;
}

.email button {
  width: 30%;
  height: 3rem;
  background-color: var(--darkgold);
  border: 1px solid var(--lightfield);

  font-size: 2rem;
  letter-spacing: 3px;
  margin-left: 65%;
  margin-bottom: var(--topbottom);
  margin-top: var(--topbottom);
}

.email input::after {
  content: "";
  background: url(./icons/star-of-life-solid.svg);
  color: red;
  width: 15rem;
  height: 15rem;
  background-size: cover;
  position: absolute;
}
@media (min-width: 481px) {
  .email legend {
    font-size: 3rem;
  }

  .email .border button {
    width: 30%;
    height: 4rem;
  }
}

/* ************************************* */
/* booking page meer-image */
aside.p-b img.meer {
  margin-top: 10rem;

  width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: cover;
  margin-bottom: var(--topbottom);
}
/*------------------------------ booking page main */

button,
input {
  text-align: center;
  color: var(--darkgold);
}

.fa-solid,
.fa-regular {
  font-size: 1.7rem;
  margin-right: var(--leftrightklein);
}
table.kalender {
  margin-top: 2rem;
  display: none;
}
/* ------------------------------ */
.container {
  background-color: var(--lightfield);
  height: fit-content;
  padding-bottom: 2rem;
}
/* ------------------------first container. Guests, checkout */
.container.checkout {
  display: flex;
  flex-direction: column;
}
/*------------------------ controller booking guest-panel */
#gpanel {
  display: none;
}
/* --------------------------closed panel */
.guest {
  position: relative;
}

.guestwrapper {
  position: absolute;
  padding-top: var(--leftrightklein);

  top: 0;
  left: 0;
  right: 0;
  bottom: -40vh;
  background-color: var(--lightfield);

  clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 0% 10%);
  transition: all.5s;
}

.inputwrapper {
  margin-bottom: var(--topbottom);
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1.5rem;
}

.guest .close {
  color: var(--darkgold);
  font-size: 2rem;
  justify-self: end;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
/* -----------------------------------opened panel */
#gpanel:checked + .guestwrapper {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  border: 1px solid var(--darkgold);
}
#gpanel:checked + .guestwrapper > .inputwrapper > .close {
  display: block;
}

label[for="gpanel"],
label[for="in"],
label[for="out"],
label[for="aguest"],
label[for="chguest"],
.guest span,
.status span {
  font-size: 1.4rem;
  text-align: center;
  display: block;
  margin-bottom: calc(var(--topbottom) / 2);
}
label[for="gpanel"] {
  font-size: 1.6rem;
}
label[for="gpanel"]:hover {
  cursor: pointer;
}

input[type="number"] {
  width: 15px;
  height: 15px;
}

input[name="bigaguest"],
input[name="bigchguest"] {
  width: 30px;
  height: 30px;
  margin-bottom: var(--topbottom);
}

.buttonswrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button.plus,
button.minus {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: var(--darkgold);
  color: var(--lightfield);
}
button.plus {
  left: -10px;
}
button.minus {
  left: 10px;
}
button.cancel,
button.submit {
  width: 80px;
  height: 30px;
  background-color: var(--darkgold);
  color: var(--lightfield);
}

.datawrapper {
  display: flex;
  justify-content: center;
  gap: var(--leftright);
  margin-top: 8vh;
}

.leftdatawrapper,
.rightdatawrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -------------------------container status------------ */
.container.status {
  padding: var(--leftrightklein);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr repeat(3, 2fr);
  align-items: center;
}
.status h2 {
  grid-area: 1/1/2/3;
}
.status span:nth-child(2) {
  grid-area: 2/1/3/2;
}
.status span:nth-child(3) {
  grid-area: 2/2/3/3;
}
.status span:nth-child(4) {
  grid-area: 3/1/4/2;
}
.status span:nth-child(5) {
  grid-area: 3/2/4/3;
}
.status span:nth-child(6) {
  grid-area: 4/1/5/3;
}
.status span:nth-child(7) {
  grid-area: 5/1/6/2;
}
.status span:nth-child(8) {
  grid-area: 5/2/6/3;
  color: var(--lightfield);
  width: 13rem;
  height: 3rem;
  line-height: 3rem;
  background-color: var(--darkgold);
  justify-self: center;
}
/* ----------------------------room-card booking seite */
.container.room {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  padding: var(--leftrightklein);
  column-gap: 2rem;
  row-gap: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.room img {
  grid-area: 1/1/5/2;
  width: 100%;
}
.room h3 {
  grid-area: 1/2/2/5;
}
.room h2 {
  grid-area: 2/2/3/5;
}
.room h4:nth-child(4) {
  grid-area: 3/2/4/5;
}

.room h4:nth-child(5) {
  grid-area: 5/3/6/5;
  letter-spacing: 1px;
  justify-self: end;
  text-transform: none;
  letter-spacing: initial;
}
.room .bookbtn {
  grid-area: 6/4/7/5;
  justify-self: end;
}
/* -----------------------------container was */
/* -----------------------------responsiv booking seite */
@media (min-width: 480px) {
  .container.room {
    font-size: 1.3rem;
  }
}
@media (min-width: 800px) {
  main.p-b {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;

    gap: calc(var(--leftright) / 3);
    grid-template-areas:
      "checkout status"
      "hause r1"
      "jakov r2"
      "ruza .";
    color: var(--darkgold);
    font-weight: bold;
    margin-bottom: var(--topbottombig);
  }
  .container {
    height: 100%;
    padding: var(--leftrightklein);
  }
  .container.checkout {
    grid-area: checkout;
  }
  .container.status {
    grid-area: status;
  }
  .container.room.haus {
    grid-area: hause;
  }
  .container.room.jakov {
    grid-area: jakov;
  }
  .container.room.ruza {
    grid-area: ruza;
  }
  .container.was1 {
    grid-area: r1;
  }
  .container.was2 {
    grid-area: r2;
  }
  .guestwrapper {
    clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 0% 15%);
  }

  table.kalender {
    margin-top: 2rem;
    display: contents;
  }
  table.kalender,
  th,
  td {
    border: 1px solid var(--altgold);
  }
  th,
  td {
    width: 3rem;
    height: 3rem;
  }
}

.room img:hover ~ .bookbtn {
  animation: buttonexplosion 1s forwards;
}

@keyframes buttonexplosion {
  0% {
    transform: scale(0.01);

    box-shadow: 0px 0px 0px var(--darkgold);
  }

  50% {
    transform: scale(1.2) translateY(-20px);
    box-shadow: 0px 0px 10px 4px var(--darkgold);
  }

  65% {
    transform: scale(0.9);
    box-shadow: inset 0px 0px 0px 0px var(--darkgold);
  }

  70% {
    transform: scale(0.9);
    box-shadow: inset 0px 0px 5px var(--darkgold);
  }
  73% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1.1) translateY(-7px);
    box-shadow: 0px 0px 5px var(--darkgold);
  }

  100% {
    transform: scale(1) translateY(7px);
  }
}
