.dialog {
      @include size (80vw, aspect-ratio 4/3, $darkfield);
      min-width: 250px;
      min-height: 190px;
      max-height: 70vh;
      @include position(fixed, 50%, 50%, n, n);
      transform: translate(-50%, -50%);

      display: none;
      z-index: 20;
      box-shadow: 5px 5px 10px 3px #031d17, 0 0 0 50vmax $panelshadow,
            inset 5px 5px 15px 0 rgba(66, 68, 17, 0.429);
}

@media (min-width: $desktop) {
      .dialog {
            width: 60vw;
            box-shadow: 10px 10px 20px 7px #031d17, 0 0 0 50vmax $panelshadow,
                  inset 10px 10px 30px 0 rgba(66, 68, 17, 0.429);
      }
}

@media (min-width:$bigdesktop) {
      .dialog {
            width: 50vw;
      }
}

.dialogbar {
      @include size(90%, 90%, $lightfield);
      border: 3px solid $gold;
      place-self: center;
      padding: 5vw;

      @include flex-col(10px, space-evenly, end);
      text-align: end;
      position: relative;

      &.back {
            position: absolute;
            width: 100%;
            height: fit-content;
            clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
            transition: 1s;
      }

      .close {
            @include closebutton;
            right: 1vw;
            top: 1vw;
      }

      span {
            @include font(1.5rem, $green, bold);
      }
}


@media (min-width: $tablet) {
      .dialogbar span {
            font-size: 1.7rem;
      }
}

@media (min-width: $desktop) {
      .dialogbar span {
            font-size: 2rem;
      }
}

// 2 */
.dialog-sharing .dialogbar {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 2vw;
      justify-items: center;
      align-items: start;

      span {
            @include grid-area-num(1, 2, 1, 4);
      }
}

// ---------------- 
.dialog-sharing .fa-brands,
.dialog-sharing .fa-copy {
      font-size: 6vw;
      background-color: $lightfield;
}

.fa-twitter {
      color: $twitter;
}

.fa-telegram {
      color: $telegram;
}

.fa-facebook {
      color: $facebook;
}

.fa-at {
      color: $email;
}

.fa-whatsapp {
      color: $whatsapp;
}

.fa-viber {
      color: $viber;
}

// ****************************
.slide-bar-background {
      @include size (100vw, 60vh, $darkfield);
      @include position(fixed, n, 15vh, -100vw, n);
      @include font (2em, $altgold, normal);
      z-index: 4;
      transition: all 0.5s;

      .slide-bar {
            @include position(absolute, 2rem, 2rem, 2rem, 2rem);
            @include flex-col(0, space-evenly);

            background-color: $lightfield;

            a,
            a:visited {
                  margin-left: $leftright;
                  width: fit-content;
            }

            a:active {
                  box-shadow: inset 0px 0px 5px $darkgold;
            }

      }

      .close .fa-xmark {
            @include closebutton;
            z-index: 5;
      }

      label.close:hover .fa-xmark {
            scale: 1.2;
      }
}

// responsiv slide-bar */
@media (min-width: $tablet) {
      .slide-bar-background {
            @include position(fixed, n, 10vh, -45vw, n);
      }
}



// ----------------------------------- email */
.email {
      form {
            @include size(100%, fit-content, $darkgold);
            box-shadow: $imgshadow;

            @include font(1.5rem, $lightfield, bold);
            text-align: start;
      }

      legend {
            @include font(2rem, inherit, bold);
            margin-top: $topbottom;
      }

      label {
            margin-left: 5%;
      }

      input,
      textarea {
            width: 90%;
            display: block;
            margin: auto;
            border-bottom: 1px solid $lightfield;
            padding-top: 40px;
            padding-left: 10px;
      }

      textarea {
            padding: 5px;
      }

      textarea::placeholder {
            padding: 5px;
      }

}