.dialog {
      width: 80vw;
      aspect-ratio: 4/3;
      min-width: 250px;
      min-height: 190px;
      max-height: 70vh;
      background: $darkfield;
      @include position(fixed, 50%, 50%, n, n);
      transform: translate(-50%, -50%);

      display: none;
      z-index: 20;
      box-shadow: 5px 5px 10px 3px #031d17, 0 0 0 50vmax $panelshadow,
            inset 5px 5px 15px 0 rgba(66, 68, 17, 0.429);
}

@media (min-width: 768px) {
      .dialog {
            width: 60vw;
            box-shadow: 10px 10px 20px 7px #031d17, 0 0 0 50vmax $panelshadow,
                  inset 10px 10px 30px 0 rgba(66, 68, 17, 0.429);
      }
}

@media (min-width: 1280px) {
      .dialog {
            width: 50vw;
      }
}

.dialogbar {
      background: $lightfield;
      border: 3px solid $gold;
      width: 90%;
      height: 90%;
      place-self: center;
      padding: 5vw;

      @include flex-col(10px, space-evenly, end);
      text-align: end;
      position: relative;
}

.dialogbar.back {
      position: absolute;
      width: 100%;
      height: fit-content;
      clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
      transition: 1s;
}

.dialogbar .close {
      @include closebutton;
      right: 1vw;
      top: 1vw;
}

.dialogbar span {
      color: $green;
      font-size: 1.5rem;
      font-weight: bold;
}

@media (min-width: 481px) {
      .dialogbar span {
            font-size: 1.7rem;
      }
}

@media (min-width: 768px) {
      .dialogbar span {
            font-size: 2rem;
      }
}

/* 2 */
.dialog-sharing .dialogbar {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 2vw;
      justify-items: center;
      align-items: start;
}

.dialog-sharing .dialogbar span {
      @include grid-area-num(1, 2, 1, 4);
}


// ****************************
.slide-bar-background {
      @include size (100vw, 60vh, $darkfield);
      @include position(fixed, n, 15vh, -100vw, n);
      @include font (2em, $altgold, normal);
      z-index: 4;
      transition: all 0.5s;

      .slide-bar {
            @include position(absolute, 2rem, 2rem, 2rem, 2rem);
            @include flex-col(0, space-evenly);

            background-color: $lightfield;

            a,
            a:visited {
                  margin-left: $leftright;
                  width: fit-content;
            }

            a:active {
                  box-shadow: inset 0px 0px 5px $darkgold;
            }

      }

      .close .fa-xmark {
            @include closebutton;
            z-index: 5;
      }

      label.close:hover .fa-xmark {
            scale: 1.2;
      }
}

/* responsiv slide-bar */
@media (min-width: $tablet) {
      .slide-bar-background {
            @include position(fixed, n, 10vh, -45vw, n);
      }
}



/*--------------------------------------------------------- email */
.email form {
      width: 100%;
      height: fit-content;

      background-color: $darkgold;
      box-shadow: $imgshadow;

      color: $lightfield;
      font-family: "PoiretOne";
      font-weight: bold;
      font-size: 1.5rem;
      text-align: start;
}

.email legend {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-top: $topbottom;
}

.email label {
      margin-left: 5%;
}

.email input,
.email textarea {
      width: 90%;
      display: block;
      margin: auto;
      border-bottom: 1px solid $lightfield;
      padding-top: 40px;
      padding-left: 10px;
}

.email textarea {
      padding: 5px;
}

.email textarea::placeholder {
      padding: 5px;
}

.email button,
.write-us-bar button {
      width: 32%;
      height: 3rem;
      background-color: $darkgold;
      border: 1px solid $lightfield;

      color: $lightfield;
      font-size: 2rem;
      letter-spacing: 3px;

      margin-left: 12%;
      margin-bottom: $topbottom;
      margin-top: $topbottom;
}

@media (min-width: 481px) {
      .email legend {
            font-size: 3rem;
      }

      .email .border button {
            width: 30%;
            height: 4rem;
      }
}




/* ------------------------------------formular seite */

form.p-f {
      width: 90%;
      height: fit-content;
      margin-top: 4vh;
      margin: auto;
      margin-bottom: $topbottom;

      background-color: $darkgold;
      padding: $leftrightklein;

      font-size: 1.5rem;
      font-weight: bold;
      color: $lightfield;

      box-shadow: $boxshadow;
}

.p-f legend {
      letter-spacing: 1px;
      margin-bottom: 0.7em;
}

.p-f input {
      width: 100%;
      border-bottom: 1px solid $lightfield;
      height: 4em;
      padding: 1em;
      padding-bottom: 0;
      text-transform: capitalize;
}

.pay-card-bild i {
      font-size: 40px;
      color: $darkgold;
}

.pay-card-bild {
      width: 100%;
      @include flex-row(1rem);
      margin-bottom: $topbottom;
}

.p-f-button {
      width: 10rem;
      height: 3rem;
      border: 2px solid $darkgold;
      background-color: $lightfield;
      margin-top: $topbottom;
      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
      color: $darkgold;
}

.p-f-button[type="submit"] {
      display: block;
      margin: auto;
}