@font-face {
  font-family: "PoiretOne";
  src: url(../fonts/PoiretOne-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "JosefinSans";
  src: url(../fonts/JosefinSans-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v154/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format("woff2");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

textarea::-moz-placeholder, input::-moz-placeholder {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

a,
a:active,
a:visited,
label,
textarea,
textarea::placeholder,
input,
input::placeholder,
button {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

textarea,
input,
input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  background: none;
}

a:hover,
button:hover,
select:hover,
label:hover {
  cursor: pointer;
  scale: 1.1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul li {
  list-style-type: none;
}

h2.caption {
  font-size: 2rem;
  font-weight: bold;
  color: hsl(49, 60%, 52%);
  margin-bottom: 2rem;
  text-align: center;
}

.shader img,
.card-room img,
.carousel img,
.room img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(58, 31, 3, 0.1) 0px 2px 1px, rgba(58, 31, 3, 0.1) 0px 4px 2px, rgba(58, 31, 3, 0.1) 0px 8px 4px, rgba(58, 31, 3, 0.1) 0px 16px 8px, rgba(58, 31, 3, 0.1) 0px 32px 16px;
}

input::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
}

input::placeholder {
  transition: 0.3s;
}

input:focus::-moz-placeholder, input:valid::-moz-placeholder {
  transform: translateY(-25px);
  font-size: 1.3em;
}

input:focus::placeholder,
input:valid::placeholder {
  transform: translateY(-25px);
  font-size: 1.3em;
}

textarea:focus::-moz-placeholder {
  transform: translateY(14rem);
  font-size: 1.3em;
}

textarea:focus::placeholder {
  transform: translateY(14rem);
  font-size: 1.3em;
}

button.language {
  display: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
button.language:active {
  box-shadow: inset 0px 0px 4px #092c24;
}
button.language:hover {
  transform: scale(1.2);
}

.language.eng {
  background-image: url(../images/eng.png);
}

.language.deu {
  background-image: url(../images/deutsch.png);
}

.language.cro {
  background-image: url(../images/Croatia.png);
  margin-right: auto;
}

/* ----------------------------------------------------goldene linie */
.line {
  height: 2px;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(to left, hsl(49, 60%, 52%), #6c592f, hsl(49, 60%, 52%));
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 481px) {
  .line {
    height: 3px;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
}

.thinline {
  height: 1px;
  min-height: 1px;
  width: 90%;
  background-color: hsl(49, 60%, 52%);
}

/*------------------------------------------------------ bookbutton */
.bookbtn {
  display: block;
  font-size: 1rem;
  padding: 5px;
  letter-spacing: 1px;
  background-color: hsl(49, 60%, 52%);
  color: #092c24;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  /* -----------------------------------------------bookbutton responsiv */
}
.bookbtn::after {
  content: "";
  background: linear-gradient(to left, transparent, #efd045, transparent);
  height: 5em;
  width: 8em;
  background-size: cover;
  position: absolute;
  right: -6em;
  top: -1rem;
  transition: 0.5s all ease-in-out;
}
.bookbtn::after:hover::after {
  right: 90%;
}
.bookbtn::after a {
  letter-spacing: 1px;
}
@media (min-width: 481px) {
  .bookbtn {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .bookbtn {
    font-size: 1.4rem;
    padding: 5px;
  }
}

/* 1 */
/*bookbutton dialog bar */
.dialog {
  width: 80vw;
  aspect-ratio: 4/3;
  min-width: 250px;
  min-height: 190px;
  max-height: 70vh;
  background: #f3f0e3;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 20;
  box-shadow: 5px 5px 10px 3px #031d17, 0 0 0 50vmax 0 0 0 70vmax hsla(167, 67%, 12%, 0.886), inset 5px 5px 15px 0 rgba(66, 68, 17, 0.429);
}

@media (min-width: 768px) {
  .dialog {
    width: 60vw;
    box-shadow: 10px 10px 20px 7px #031d17, 0 0 0 50vmax 0 0 0 70vmax hsla(167, 67%, 12%, 0.886), inset 10px 10px 30px 0 rgba(66, 68, 17, 0.429);
  }
}
@media (min-width: 1280px) {
  .dialog {
    width: 50vw;
  }
}
.dialogbar {
  background: #fefae7;
  border: 3px solid hsl(49, 60%, 52%);
  width: 90%;
  height: 90%;
  place-self: center;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  text-align: end;
  gap: 10px;
  position: relative;
}

.dialogbar.back {
  position: absolute;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
          clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: 1s;
}

.dialogbar .close {
  right: 1vw;
  top: 1vw;
}
.dialogbar .close .close {
  color: #6c592f;
  font-size: 1.5rem;
  position: absolute;
}

.dialogbar span {
  color: #092c24;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 481px) {
  .dialogbar span {
    font-size: 1.7rem;
  }
}
@media (min-width: 768px) {
  .dialogbar span {
    font-size: 2rem;
  }
}
/* 2 */
.dialog-sharing .dialogbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2vw;
  justify-items: center;
  align-items: start;
}

.dialog-sharing .dialogbar span {
  grid-area: 1/1/2/4;
}

/* 3 */
/* right slide-bar */
.slide-bar-background {
  height: 60vh;
  width: 100vw;
  position: fixed;
  top: 15vh;
  right: -100vw;
  background: #f3f0e3;
  z-index: 4;
  transition: all 0.5s;
  color: #514716;
  font-size: 2em;
}

/* responsiv slide-bar */
@media (min-width: 481px) {
  .slide-bar-background {
    width: 45vw;
    top: 10vh;
    right: -45vw;
  }
}
.slide-bar-background .slide-bar {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fefae7;
}

.slide-bar a,
.slide-bar a:visited {
  margin-left: 5vw;
  width: -moz-fit-content;
  width: fit-content;
}

.slide-bar a:active {
  box-shadow: inset 0px 0px 5px #6c592f;
}

.slide-bar-background .fa-xmark {
  right: 3rem;
  top: 3rem;
  z-index: 5;
}
.slide-bar-background .fa-xmark .close {
  color: #6c592f;
  font-size: 1.5rem;
  position: absolute;
}

/*--------------------------------------------------------- email */
.email form {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #6c592f;
  box-shadow: rgba(58, 31, 3, 0.1) 0px 2px 1px, rgba(58, 31, 3, 0.1) 0px 4px 2px, rgba(58, 31, 3, 0.1) 0px 8px 4px, rgba(58, 31, 3, 0.1) 0px 16px 8px, rgba(58, 31, 3, 0.1) 0px 32px 16px;
  color: #fefae7;
  font-family: "PoiretOne";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: start;
}

.email legend {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.email label {
  margin-left: 5%;
}

.email input,
.email textarea {
  width: 90%;
  display: block;
  margin: auto;
  border-bottom: 1px solid #fefae7;
  padding-top: 40px;
  padding-left: 10px;
}

.email textarea {
  padding: 5px;
}

.email textarea::-moz-placeholder {
  padding: 5px;
}

.email textarea::placeholder {
  padding: 5px;
}

.email button,
.write-us-bar button {
  width: 32%;
  height: 3rem;
  background-color: #6c592f;
  border: 1px solid #fefae7;
  color: #fefae7;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-left: 12%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (min-width: 481px) {
  .email legend {
    font-size: 3rem;
  }
  .email .border button {
    width: 30%;
    height: 4rem;
  }
}
/* -----------down-drop formular---input group */
.signup .write-us-bar {
  position: absolute;
  width: 100%;
  background-color: #6c592f;
  color: #fefae7;
  padding: 5vw;
  padding-top: 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 5rem, 0% 5rem);
          clip-path: polygon(0% 0%, 100% 0%, 100% 5rem, 0% 5rem);
  transition: -webkit-clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s;
}

legend {
  height: 5rem;
  line-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}
legend label.arrow {
  margin-left: 2vw;
}
legend label.up-arrow {
  display: none;
}
legend label.down-arrow {
  display: block;
}

.input-group {
  position: relative;
  margin-bottom: 2rem;
}
.input-group .false-placeholder {
  position: absolute;
  left: 1rem;
  transform: translateY(1rem);
  line-height: 3rem;
  background-color: #6c592f;
}
.input-group input {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  background: none;
  border: 1px solid #fefae7;
  outline: none;
  color: #fefae7;
  position: relative;
}
.input-group input:focus ~ label.false-placeholder, .input-group input:valid ~ label.false-placeholder {
  transform: translateY(-1.5rem);
}

@media (min-width: 480px) {
  .signup .write-us-bar {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  .signup .write-us-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 6rem 7rem;
    gap: 1rem;
  }
  .write-us-bar legend {
    grid-area: 1/1/2/6;
  }
  .write-us-bar button {
    width: 100%;
    height: 5rem;
    margin: 0;
  }
}
/* ------------------------------------formular seite */
form.p-f {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 4vh;
  margin: auto;
  margin-bottom: 2rem;
  background-color: #6c592f;
  padding: 2vw;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fefae7;
  box-shadow: rgba(58, 31, 3, 0.1) 0px 4px 6px -1px, rgba(58, 31, 3, 0.1) 0px 2px 4px -1px;
}

.p-f legend {
  letter-spacing: 1px;
  margin-bottom: 0.7em;
}

.p-f input {
  width: 100%;
  border-bottom: 1px solid #fefae7;
  height: 4em;
  padding: 1em;
  padding-bottom: 0;
  text-transform: capitalize;
}

.pay-card-bild i {
  font-size: 40px;
  color: #6c592f;
}

.pay-card-bild {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.p-f-button {
  width: 10rem;
  height: 3rem;
  border: 2px solid #6c592f;
  background-color: #fefae7;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  color: #6c592f;
}

.p-f-button[type=submit] {
  display: block;
  margin: auto;
}/*# sourceMappingURL=bars_windows.css.map */