@import "variables";
@import "settings";
@import "mixins";


@import "buttons";
@import "bars-windows.scss";
@import 'animation/animation.scss';

html {
      font-size: 62.5%;
      font-family: "PoiretOne", Arial, Helvetica, sans-serif;
}

body {
      @include size(100vw, auto, $green);

      &.page-booking {
            background-color: $darkfield;
      }

}



@import "header/header.scss";


@import "main/main";


@import 'footer';
@import 'controller';