.page-formular .container.animation {
      height: 9rem;
      background-color: $darkfield;
}

@media (min-width: 768px) {
      form.p-f {
            max-width: 50%;
      }

      .p-f-button {
            height: 4rem;
      }

      .page-formular .container.animation {
            height: 24rem;
      }
}