main.index {
      margin-top: 13rem;
}

@import 'shader(img)';

/* ------------------------------apartament cards */
.card-room {
      width: 100%;

      picture {
            margin-bottom: 0.5rem;
      }
}


.card-room-text {
      @include flex-col($topbottom, space-around);
      @include size (100%, fit-content, $darkfield);
      @include font (1.5rem, $violet, n);
      padding: $leftright;
      box-shadow: $boxshadow;

      p {
            text-align: justify;
      }

      h2 {
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
      }

      button {
            @include size(fit-content, auto, $darkfield);

            a {
                  text-transform: uppercase;
                  font-weight: bold
            }
      }
}

.card-room-btns {
      @include flex-row(2em);

      .fa-solid {
            margin: 0;
      }
}

@media (min-width: $tablet) {
      .card-room {
            display: grid;
            grid-template-columns: repeat(6, 15vw);
            grid-template-rows: repeat(5, 10vh) auto;

            &.horizontal picture {
                  @include grid-area-num(2, 7, 1, 6);
                  width: 75vw;
            }

            &.horizontal .card-room-text {
                  @include grid-area-num(1, 4, 3, 7);
                  font-size: 1.5rem;
                  padding: $leftrightklein;
            }

            &.vertical picture {
                  @include grid-area-num(1, 7, 1, 3);
                  width: 75vw;
            }

            &.vertical .card-room-text {
                  @include grid-area-num(2, 4, 3, 7);
                  font-size: 1.5rem;
                  padding: $leftrightklein;
            }
      }


}

@media (min-width: $bigdesktop) {
      %temp {
            font-size: 2rem;
            max-width: 40vw;
            justify-self: end;

      }

      .card-room {
            &.horizontal picture {
                  @include grid-area-num(2, 8, 2, 6);
                  width: 60vw;
            }

            &.vertical picture {
                  @include grid-area-num(1, 7, 2, 6);
                  width: 60vw;
            }

            &.horizontal .card-room-text {
                  @extend %temp;
                  @include grid-area-num(1, 3, -1, -5);
            }

            &.vertical .card-room-text {
                  @extend %temp;
                  @include grid-area-num(2, 4, -1, -5);
            }
      }
}

// ----------offers-index-seite-------------------------
.offers {
      width: 70vw;
      height: auto;
      margin: auto;
      font-size: 1.5rem;
      background-color: $darkfield;
      color: $violet;
      padding: $leftright;
}

.offers-board {
      width: 100%;
      height: 100%;
      padding: $leftright;
      background-color: $lightfield;
      border: 1px solid $gold;

      display: grid;
      grid-template-columns: 4rem auto;
      gap: $topbottom;
      align-items: center;
}

.offers-board .material-symbols-outlined {
      font-family: "Material Symbols Outlined";
      font-size: 3rem;
}

/* -----------------------------------------------responsiv offers-board */
@media (min-width: 481px) {
      .offers {
            font-size: 2rem;
      }
}

@media (min-width: 769px) {
      .offers {
            padding: 40px;
      }
}

@media (min-width: 1000px) {
      .offers-board {
            grid-template-columns: 4rem 1fr 4rem 1fr;
      }
}